
@{
    ViewBag.Title = "Logged Out";
}

<h2>@ViewBag.Title.</h2>
<p>You have been logged out to log in again click @Html.ActionLink("click here", "About", "Home", new { area = "" }, new { @class = "" })</p>

