@if (!ViewData.ModelState.IsValid && ViewData.ModelState.Where(item => string.IsNullOrEmpty(item.Key)).Count() > 0)
{
    <div class="validation-summary-errors">
        <ul>
            @foreach (var modelError in ViewData.ModelState.SelectMany(keyValuePair => keyValuePair.Value.Errors))
            {
                <li class="text-danger">@modelError.ErrorMessage</li>
            }
        </ul>
    </div>
}